@media(max-width: 768px){
    main{
        grid-auto-flow: column;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .left-container{
        padding: 3rem 1rem 2rem 1rem;
        grid-area: 1 / 1 / 2 / 2;
    }
    .left-container .heading > h1{
        font-size: 1.6rem;
        line-height: 2.3rem;
    }
    .left-container .paragraphs > p{
        font-size: .9rem;
    }
    .sign-up > form{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5rem;
        margin-top: 3rem;
    }
    .left-container .sign-up input{
        width: 100%;
        margin-right: 0;
    }
    .left-container .sign-up input[type='button']{
        width: 5rem;
    }
    .left-container .sign-up input::placeholder{
        font-size: smaller;
        padding-left: .2rem;
    }

    .right-container{
        display: grid;
        grid-auto-flow: column;
        /* grid-template-columns: 100%; */
        grid-template-rows: 1fr 1fr;
        grid-area: 2 / 1 / 3 / 2;
        padding: 1rem;
    }
    .right-container .carrousel-text{
        align-content: start;
        /* justify-content: start; */
        margin-top: .8rem;
    }
    .right-container .carrousel-text h3{
        font-size: 1.3rem;
        margin-left: unset;
        line-height: 2rem;
        padding-bottom: 0 !important;
    }


    footer{
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        grid-area: 3 / 1 / 4 / 2 ;
        padding: 2rem 0 2rem 2rem;
        /* gap: 0; */
        height: max-content;
    }
    footer .footer-links{
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 30px);
        /* grid-area: 3 / 1 / 4 / 2; */
        gap: 0;
    }
    footer .footer-socials{
        /* grid-area: 1 / 3 / 2 / 4; */
        gap: 1rem;
        /* padding: 0; */
        justify-content: end;
    }
}